[Dd]ebug/
[Rr]elease/
x64/
x86/
bincode/
bin/
obj/
_ProcessedAsm/

.env
src/BelgianFootballFantasy.Web/appsettings.Development.json

.DS_Store
Thumbs.db
desktop.ini
.docker/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Visual Studio / Rider
.idea/
*.sln.iml
.vs/
